Title: Static Site - Home

<h1>Static Site</h1>

<h2>Pages</h2>
<ul>
<% items.each do |item| %>
	<% if item[:title] %>
		<li><%= link_to item[:title], item %></li>
	<% end %>
<% end %>
</ul>

<h2>Tags</h2>
<ul>
	<% count_tags().sort_by{|k,v| k}.each do |tag, count| %>
    <li>
			<a href="/tags/<%= tag %>/" class="tag"><%= tag %></a> x <%= count %>
		</li>
	<% end %>
</ul>

<p><a href="https://github.com/robnormal/nanoc-pandoc">Source code</a></p>
<p>Generated with <a href="http://nanoc.ws/">nanoc</a>, modified to be fully
pandoc-compliant.</p>
